doctype html
html
    head
        title Delilah Restó | Log In
        link(rel='stylesheet' href='/css/style.css') 
        link(rel='shortcut icon' type='image/png' href='img/favicon.ico')
        link(href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap|Kalam:wght@700&display=swap" rel="stylesheet")
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')

    body
        div.page-wrapper
            // HEADER
            include _header

            // CONTENT
            block content

    script(src="/js/bundle.js")

        
